.container{
    display: block;
    width: 100%;
    justify-content: center;
    background: #0b0a0a;
    padding: 4rem;
    padding: 0;
}

.aboutme-container-image{
    display: block;
}

.container-title{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
    padding: 0;
    font-weight: bolder;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
    color: #fff;
}

.container-info{
    display: inline-flex;
    width: 100%;
}

.aboutme-container-img{
    align-items: center;
    width: 500px;
    height: 450px;
    object-fit: cover;
    border-radius: 50px;
}

.container-separator{
    margin-left: 50px;
    margin-right: 50px;
}

.container-text{
    margin-top: 60px;
    color: #fff;
    border-radius: 20px;
}

.container-text > p{
    text-align: justify;
    font-size: 20px;
    width: 600px;
    background: transparent;
    margin-bottom: 30px;
    font-weight: medium;
}

.container-text > a{
    margin-right: 10px;
    margin-left: 10px;
    background: transparent;
}

/* PHONE SECTION */
@media screen and (max-width: 960px){
    
}

@media screen and (mad-width: 875px){
    
}