.container{
    display: block;
    width: 100%;
    justify-content: center;
    background: #fff;
    padding: 4rem;
    padding: 0;
}

.container-image{
    display: block;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    margin-left: 300px;
}

.container-title{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
    padding: 0;
    font-weight: bolder;
    align-items: center;
}

.container-info{
    display: inline-flex;
    width: 100%;
}

.container-img{
    align-items: center;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.container-separator{
    margin-left: 50px;
    margin-right: 50px;
}

.container-text{
    margin-top: 80px;
}

.container-text > p{
    text-align: justify;
    font-size: 20px;
    width: 600px;
    margin-bottom: 30px;
    font-weight: medium;
}

.container-text > a{
    margin-right: 10px;
}

@media screen and (max-width: 960px) {
    .container {
        display: block;
        width: 100%;
        justify-content: center;
        background: #fff;
        padding: 4rem;
        padding: 0;
    }
  
    .container-image {
        display: flex;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 100px;
    }

    .container-img{
        width: 300px;
        height: 300px;
    }

    .container-separator{
        display: none;
    }

    .container-text{
        position: relative;
        display: block;
        margin-top: 100px;
    }

    .container-title{
        position: absolute;
        text-align: center;
        margin-bottom: 300px;
    }
  
    .container-text > p {
      font-size: 16px;
      align-content: center;
      text-align: justify;
    }

    .container-text > a{
        position:relative;
    }
  }