.contact-container-info{
    display: flex;
    height: 350px;
    justify-content: center;
}

.contacts{
    display: flex;
    width: 400px;
    background: #161A42;
    border-radius: 20px;
    justify-content: center;
    height: 250px;
    margin-top: 55px;
}

.contacts ul, .contacts li, .contacts svg, .contacts a{
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
}

.contacts svg{
    margin-right: 10px;
}

.contacts{
    display: block;
    justify-content: center;
    align-items: center;
}

.contacts ul{
    display: grid;
    position: relative;
    list-style-type: none;
    align-items: center;
    flex-shrink: 0;
    height: 150px;
    justify-content: center;
}

.contacts ul:first-child{
    margin-top: 45px;
}

.contacts ul li{
    height: 30px;
}

.form{
    display: grid;
    align-items: center;
    width: 350px;
    margin-right: 150px;
    margin-left: 480px;
}

.form textarea{
    display: -webkit-flex;
    resize: vertical;
    text-align: left;
    justify-content: center;
    padding: 1em 1em 1em 1em;
    
}

.form textarea::placeholder{
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;
}

.form input, .form textarea, .form button{
    position: relative;
    height: 50px;
    background: #161A42;
    border-radius: 25px;
    border: none;
    color: #fff;
    justify-content: center;
}


.form input, .form button{
    text-align: center;
}

.form button{
    justify-content: center;
}


.form-linear-text{
    display: flex;
}

.form-linear-text input{
   width: 200px; 
}

.form-linear-text input:first-child{
    margin-right: 20px;
}