.title{
    color: #fff;
    font-size: 45px;

}

.sub-title-animated{
    margin-top: 8px;
    display: flex;
    display: block;
    color: #fff;
    font-size: 24px;
}

.arrow-animated{
    display: flex;
    background: none;
    position: relative;
    margin-top: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fa-arrow-down{
    font-size: 130px;
    display: flex;
    justify-content: center;
    background: none;
    animation: upAndDown 2s infinite alternate;
}

@media screen and (max-width: 960px){
    
}

@media screen and (mad-width: 875px){
}

@keyframes moveUpDown {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px); /* Adjust the value to control the amount of movement */
    }
  }