.title{
    color: #fff;
    font-size: 45px;

}

.sub-title-animated{
    margin-top: 8px;
    display: flex;
    display: block;
    color: #fff;
    font-size: 24px;
}

.arrow-animated{
    display: flex;
    background: none;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    animation: upAndDown 1s infinite alternate;
}

.fa-arrow-down{
    font-size: 130px;
    display: flex;
    justify-content: center;
    background: none;
}


.up-down-animation{
  animation: upAndDown 2s linear infinite;
}



@media screen and (max-width: 960px){
    
}

@media screen and (mad-width: 875px){
}

@keyframes moveUpDown {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px); /* Adjust the value to control the amount of movement */
    }
  }